.Table{
    padding: 0rem 2rem 2rem 2rem;
}

.row{
    width: 8rem;
    padding-bottom: 1rem;
}

.btn-add{
    color: black;
}

/* MODAL */
#modal-modal-title{
    text-align: center;
}

#modal-modal-description{
    margin: 0;

    text-align: center;

    align-self: center;

    justify-items: center;
}

#btn-enviar{
    margin: 1rem;
}

.i-item, label, input{
    display: block;
}

@media (min-width: 300px) and (max-width: 700px){
    .img-table{
        width: 5rem;
    }
}

@media (min-width: 700px){
    .img-table{
        width: 8rem;
    }
}