.Table{
    padding: 0rem 2rem 2rem 2rem;
}

.row{
    width: 8rem;
    padding-bottom: 1rem;
}

.btn-add{
    color: black;

    align-self: center;
}

@media (min-width: 300px) and (max-width: 700px){
    .img-table{
        width: 5rem;
    }
}

@media (min-width: 700px){
    .img-table{
        width: 8rem;
    }
}